.weather {
	display: flex;
	justify-content: center;
}

.weather_today {
	width: 100%;
	padding: 20px 40px 20px;
	margin: 0 3px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 10px 1px rgb(245, 211, 60);
}

.region p {
	font-size: 3rem;
	text-align: center;
	color: rgb(245, 211, 60);
}

.container_weather {
	display: flex;
	justify-content: center;
}

.weather_temperature p {
	font-size: 25rem;
	color: rgb(245, 211, 60);
}

.info ul {
	margin-top: 35px;
}

.info li {
	font-size: 2.3rem;
	color: rgb(245, 211, 60);
	list-style-type: none;
}

.temperature_img img {
	width: 125px;
	height: 125px;
}

@media (max-width: 1170px) {
	.wrapper_weather {
		width: 100%;
	}

	.weather_today {
		margin: 0 25px;
		width: 100%;
	}

	.weather_temperature p {
		font-size: 15rem;
	}

	.container_weather {
		display: flex;
		justify-content: space-evenly;
	}

	.info ul {
		margin-top: 10px;
	}

	.info li {
		font-size: 1.8rem;
		color: rgb(245, 211, 60);
		list-style-type: none;
	}

	.temperature_img img {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 650px) {
	.weather_today {
		padding: 20px 20px 20px;
	}

	.region p {
		font-size: 1.8rem;
	}

	.weather_temperature p {
		font-size: 13rem;
	}

	.temperature_img img {
		width: 15vw;
		height: 15vw;
	}
}

@media (max-width: 450px) {
	.container_weather {
		flex-direction: column;
	}

	.temperature p {
		text-align: center;
	}

	.info {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
