.wrapper_map {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	padding: 0 40px;
	margin-right: 3px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 10px 1px rgb(245, 211, 60);
}

#map {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 400px;
	margin-top: 55px;
	border: 2px solid bisque;
	border-radius: 5%;
}

.coordinates {
	text-align: left;
	font-size: 1.8rem;
	padding-right: 10px;
	margin-top: 15px;
	color: rgb(245, 211, 60);
}

@media (max-width: 1170px) {
	.wrapper_map {
		margin: 20px 25px 20px;
		padding-bottom: 20px;
		width: 100%;
	}

	#map {
		width: 100%;
		border-radius: 8px;
	}

	.coordinates {
		margin-bottom: 20px;
	}
}

@media (max-width: 650px) {
	.wrapper_map {
		padding: 0 20px;
	}

	#map {
		width: 70vw;
		height: 70vw;
	}

	.coordinates {
		text-align: center;
		font-size: 1.3rem;
		padding-bottom: 10px;
	}
}
