/* Remove outline on the forms and links */
:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

.back_ground {
	position: absolute;
	object-fit: cover;
	opacity: 0.5;
	z-index: -3;
}

.control_block {
	display: flex;
	justify-content: space-between;
	margin: 70px 70px 0;
}

.container_button {
	display: flex;
}

.refresh_img_btn {
	margin-left: 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.spinner {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background: url(img/iconfinder__refresh_load_loading_sync_arrow_reload_restart_4213447.png);
	background-size: cover;
}

.spinner.active {
	animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.language {
	width: 55px;
	height: 45px;
	margin-left: 10px;
	border: none;
	border-radius: 8px;
	background-color: rgb(209, 209, 209);
	font-size: 1.5rem;
	/* text-transform: uppercase; */
}

/* button select lang */

.language {
	position: relative;
}

.language li {
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none;
	width: 55px;
	height: 45px;
	transition: 0.5s;
}

.lang {
	margin-top: 50%;
	transform: translate(0, -50%);
	text-align: center;
}

.a {
	background-color: rgb(209, 209, 209);
	z-index: 100;
	border-radius: 8px;
}

.b.active {
	border-top: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: rgb(209, 209, 209);
	z-index: 99;
	top: 45px;
}

.c.active {
	border-top: 1px solid black;
	background-color: rgb(209, 209, 209);
	z-index: 98;
	top: 90px;
}

.d.active {
	border-top: 1px solid black;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: rgb(209, 209, 209);
	z-index: 97;
	top: 135px;
}

.a:hover,
.b.active:hover,
.c.active:hover,
.d.active:hover {
	background-color: aquamarine;
	color: black;
	opacity: 0.8;
}

.wrapper_change_degree {
	display: flex;
	margin-left: 10px;
}

.degree_fahrenheit_btn {
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	opacity: 0.5;
}

.degree_сelsius_btn {
	border: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	opacity: 0.5;
}

.degree_fahrenheit_btn.active,
.degree_сelsius_btn.active {
	transition: 0.4s;
	background-color: rgb(209, 209, 209);
	color: black;
	opacity: 1;
}

.refresh_img_btn,
.degree_fahrenheit_btn,
.degree_сelsius_btn {
	width: 45px;
	height: 45px;
	background-color: rgb(209, 209, 209);
}

.degree_fahrenheit_btn,
.degree_сelsius_btn {
	background-color: black;
	color: aliceblue;
}

.refresh_img_btn:hover,
.degree_fahrenheit_btn:hover,
.degree_сelsius_btn:hover,
.search_btn:hover {
	background-color: aquamarine;
	color: black;
	opacity: 0.8;
	transition: 1s;
}

.form_search {
	display: flex;
	align-items: center;
}

.search_input {
	width: 300px;
	height: 45px;
	padding-left: 10px;
	font-size: 3rem;
	color: white;
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: black;
	opacity: 0.5;
}

.search_btn {
	width: 100px;
	height: 45px;
	margin-right: 10px;
	border: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-transform: uppercase;
	background-color: rgb(209, 209, 209);
}

@media (max-width: 1200px) {
	.language {
		width: 45px;
		height: 35px;
		margin-left: 10px;
		border: none;
		border-radius: 8px;
		background-color: rgb(209, 209, 209);
		font-size: 1.5rem;
		/* text-transform: uppercase; */
	}

	.language li {
		width: 45px;
		height: 35px;
	}

	.b.active {
		top: 35px;
	}

	.c.active {
		top: 70px;
	}

	.d.active {
		top: 105px;
	}

	.refresh_img_btn,
	.degree_fahrenheit_btn,
	.degree_сelsius_btn {
		width: 35px;
		height: 35px;
		background-color: rgb(209, 209, 209);
	}

	.search_input {
		width: 200px;
		height: 35px;
		padding-left: 10px;
		font-size: 2rem;
	}

	.search_btn {
		width: 70px;
		height: 35px;
	}
}

@media (max-width: 600px) {
	.control_block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 70px 30px 0;
	}

	.search_input {
		width: 200px;
		height: 35px;
		padding-left: 10px;
		font-size: 2rem;
		margin-top: 10px;
	}

	.search_btn {
		margin-top: 10px;
		width: 70px;
		height: 35px;
	}
}


@media (max-width: 450px) {
	.control_block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 35px 0 0;
	}

	.search_input {
		width: 200px;
		height: 35px;
		padding-left: 10px;
		font-size: 2rem;
		margin-top: 10px;
	}

	.search_btn {
		margin-top: 10px;
		width: 70px;
		height: 35px;
	}
}