/* Remove outline on the forms and links */
:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

.control_block {
	display: flex;
	justify-content: space-between;
	margin: 70px 3px 0;
	background-color: rgb(0, 0, 0, 0.7);
	box-shadow: 0 0 10px 1px #CC99FE;
	border-radius: 8px;
	padding: 20px;
	color: black;
}

.control_block.active {
	background-color: rgba(224, 224, 224, 0.8);
	box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.control_block.active button {
	background-color: rgb(128, 4, 51);
	color: white;
}

.control_block.active .language li {
	border-radius: 8px;
	background-color: rgb(128, 4, 51);
	color: white;
}

.control_block.active button.active {
	background-color: rgb(175, 95, 126);
	color: white;
}

.container_button {
	display: flex;
}

.refresh_img_btn {
	margin-right: 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.spinner {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background: url('img/reload.png');
	background-size: cover;
}

.control_block.active .spinner {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background: url('img/reloadw.png');
	background-size: cover;
}

.spinner.active {
	animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.language {
	position: relative;
	width: 55px;
	height: 45px;

	border: none;
	border-radius: 8px;
	background-color: rgb(255, 193, 78);
	font-size: 1.5rem;
}

.language li {
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none;
	width: 55px;
	height: 45px;
	transition: 0.5s;
}

.lang {
	margin-top: 50%;
	transform: translate(0, -80%);
	text-align: center;
}

.a {
	background-color: rgb(255, 193, 78);
	z-index: 100;
	border-radius: 8px;
}

.b.active {
	border-top: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: rgb(255, 193, 78);
	z-index: 99;
	top: 45px;
}

.c.active {
	border-top: 1px solid black;
	background-color: rgb(255, 193, 78);
	z-index: 98;
	top: 90px;
}

.d.active {
	border-top: 1px solid black;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: rgb(255, 193, 78);
	z-index: 97;
	top: 135px;
}

.a:hover,
.b.active:hover,
.c.active:hover,
.d.active:hover {
	background-color: rgb(79, 255, 108);
	color: black;
}

.wrapper_change_degree {
	display: flex;
	margin-left: 10px;
}

.wrapper_theme {
	display: flex;
	margin-left: 10px;
}

.theme_day_btn {
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.theme_night_btn {
	border: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.theme_day_btn,
.theme_night_btn {
	width: 45px;
	height: 45px;
	background-color: rgba(255, 255, 255, 0.5);
	background-size: cover;
	background-repeat: no-repeat;
}

.img_icon_day {
	background-image: url('../img/sun.png');
}

.img_icon_night {
	background-image: url('../img/moon.png');
}

.control_block.active  .img_icon_day {
	background-image: url('../img/sunw.png');
}

.control_block.active  .img_icon_night {
	background-image: url('../img/moonw.png');
}

.img_icon_day,
.img_icon_night {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	background-size: cover;
}

.theme_day_btn.active,
.theme_night_btn.active {
	width: 45px;
	height: 45px;
	background-color: rgb(255, 193, 78);
	background-size: cover;
	background-repeat: no-repeat;
}
/*                                          */

.degree_fahrenheit_btn {
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.degree_сelsius_btn {
	border: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.degree_fahrenheit_btn.active,
.degree_сelsius_btn.active {
	transition: 0.4s;
	background-color: rgb(255, 193, 78);
	color: black;
}

.degree_fahrenheit_btn,
.degree_сelsius_btn {
	width: 45px;
	height: 45px;
	background-color: rgb(255, 193, 78);
}

.degree_fahrenheit_btn,
.degree_сelsius_btn {
	background-color: rgba(255, 255, 255, 0.5);
	color: rgb(255, 193, 78);
}

.refresh_img_btn {
	background-color: rgb(255, 193, 78);
	width: 45px;
	height: 45px;
}

.refresh_img_btn:hover,
.degree_fahrenheit_btn:hover,
.degree_сelsius_btn:hover,
.search_btn:hover,
.language:hover,
.theme_day_btn:hover,
.theme_night_btn:hover {
	background-color: rgb(79, 255, 108);
	box-shadow: 0 0 5px 3px #f5f5f5;
	color: black;
	transition: 0.2s;
	z-index: 100;
}

.control_block.active .refresh_img_btn:hover,
.control_block.active .degree_fahrenheit_btn:hover,
.control_block.active .degree_сelsius_btn:hover,
.control_block.active .search_btn:hover,
.control_block.active .language:hover li:hover,
.control_block.active .theme_day_btn:hover,
.control_block.active .theme_night_btn:hover {
	box-shadow: 0 0 10px 2px rgb(0, 0, 0);
	background-color: rgb(175, 95, 126);
}

.form_search {
	display: flex;
	align-items: center;
}

.search_input {
	width: 400px;
	height: 45px;
	padding-left: 10px;
	font-size: 2.5rem;
	color: #CC99FE;
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: rgba(255, 255, 255, 0.3);
	text-overflow: ellipsis;
	overflow: hidden;
	text-shadow: 0px 0px 10px black;
}

.control_block.active .search_input {
	color: black;
}

.search_input::placeholder {
	color: wheat;
}

.control_block.active .search_input::placeholder {
	color: black;
}

.control_block.active .search_input {
	background-color: rgba(255, 255, 255, 0.5);
	text-shadow: 0px 0px 10px rgba(122, 18, 18, 0.473);
}

.search_input.active::placeholder {
	color: red;
}

.control_block.active .search_input.active::placeholder {
	color: rgb(218, 7, 7);
}

.search_btn {
	width: 100px;
	height: 45px;
	border: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-transform: uppercase;
	background-color: rgb(255, 193, 78);
}

@media (max-width: 1230px) {
	.control_block {
		margin: 40px 25px 0;
	}

	.search_input {
		width: 100%;
		margin-left: 10px;
	}
}

@media (max-width: 650px) {
	.control_block {
		flex-wrap: wrap;
		justify-content: center;
		margin: 40px 25px 0;
	}

	.search_input {
		margin-top: 10px;
	}

	.search_btn {
		margin-top: 10px;
	}
}

@media (max-width: 450px) {
	.container_button {
		justify-content: center;
		flex-wrap: wrap;
	}

	.container_button  button {
		margin-bottom: 10px;
	}

	.search_input {
		margin: 0 0 0 0;
		font-size: 2rem;
	}
	.search_btn{
		margin: 0 0 0 0;
	}
}
